@import '~antd/dist/antd.css';

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.btn {
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center
}


.status {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}


@media (max-width: 800px) {
  .status {
    flex-direction: column
  }
}

.ant-statistic {
  margin: 20px;
  text-align: center
}

.ant-card {
  display: inline-block;
  margin: 20px;
}

.ant-card-body {
  min-height: 270px;
}

